:root {
    /*colors*/
    --bg-dark-primary: #141414;
    --bg-light-primary: #d9d9d9;
    --foam-green: #4ce19e;
    /*fonts*/
    --ff-primary: 'Satoshi', sans-serif;
    --ff-secondary: 'Inter', sans-serif;
    /*animated submit button*/
    --compact-animation-time: 500ms;
    --progress-bar-animation-time: 1000ms;
    --circle-animation-time: 300ms;
    --checkmark-animation-time: 300ms;
}


/*RESETS*/

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/*GLOBAL STYLES*/

body {
    background-color: var(--bg-dark-primary);
}

h1,
h2,
h3 {
    font-family: var(--ff-primary);
    color: #fff;
    margin-top: 0;
}

h1 {
    font-size: clamp(40px, 0.7rem + 7.68vw, 88px);
    margin-bottom: 1.5rem;
}

p {
    font-family: var(--ff-secondary);
    font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
    color: #d9d9d9;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.btn {
    background-color: var(--foam-green);
    color: #fff;
    font-family: var(--ff-primary);
    border: none;
    border-radius: 50px;
    padding: .3rem;
    cursor: pointer;
}


/*HEADER*/

.header__home {
    font-family: var(--ff-primary);
    text-decoration: none;
    color: #fff;
    line-height: 1;
    font-size: 1.5rem;
    flex: 1 0 100%;
}

.primary-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 0px;
    margin-top: 20px;
}

.primary-nav .header__home:hover {
    color: var(--foam-green);
    transition: 250ms ease-in-out;
}

.primary-nav__links-container {
    display: inline-block;
}


/*HERO*/

.hero__headline,
.hero__description {
    color: #d9d9d9;
}

.temporary {
    color: #4ce19e;
}

.hero__text {
    position: relative;
    text-align: center;
    margin-block-start: 16rem;
}

.hero__contact {
    font-family: var(--ff-secondary);
    text-decoration: none;
    color: #d9d9d9;
    border-bottom: 1px solid var(--foam-green);
}

.contact-me:hover {
    color: var(--foam-green);
    transition: 250ms ease-in-out;
}


/*FOOTER*/

.footer {
    border-top: 1px solid #d9d9d9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 0px;
    margin-top: 20px;
}

.footer__contact,
.footer__connect {
    margin-top: 1rem;
}

.footer__title {
    color: #d9d9d9;
    line-height: 1;
    font-size: 1.5rem;
}

.footer__social-container {
    display: inline-block;
}

.footer__social-icons {
    margin: 0 25px 0 25px;
    text-decoration: none;
}

.social-svg__hover:hover path {
    fill: var(--foam-green);
    transition: 250ms ease-in-out;
}

.social-svg__hover:hover {
    transform: scale(1.5);
    transition: 250ms ease-in-out;
}

.footer__copyright {
    margin-top: 1rem;
}

.footer__copyright-txt {
    font-family: var(--ff-primary);
    font-size: 0.8rem;
}


/*CONTACT FORM*/

.contact-form {
    max-width: 300px;
    border: none;
    border-radius: 20px;
    color: #d9d9d9;
    font-family: var(--ff-secondary);
    padding: 1.5rem;
    box-shadow: .3rem .3rem .5rem #333333, -.3rem -.3rem .5rem #515151
}

.contact-form__input {
    border: none;
    border-radius: 50px;
    box-shadow: inset 0.37rem 0.37rem 0.37rem #cdced1, inset -0.37rem -0.37rem 0.37rem #ffffff;
    margin: 0 0 1rem;
    padding: 0.7rem;
}

.contact-form__textarea {
    border-radius: 10px;
    font-family: var(--ff-secondary);
    text-align: center;
    margin: 0 0 1rem;
}

.submit-btn-container {
    margin-top: 1rem;
}


/*Submit Button*/

.submit-btn {
    background-color: #2B2D2F;
    position: relative;
    box-shadow: 0.16rem 0.16rem 0.16rem #333333, -0.16rem -0.16rem 0.16rem #515151;
}

.submit-btn:hover {
    color: var(--foam-green);
    transition: 250ms ease-in-out;
}


/*Animated Submit Button*/

.submit-btn.hide {
    padding: 0;
    background-color: transparent;
    color: transparent;
    user-select: none;
    cursor: default;
    animation: vanish 0ms calc(var(--compact-animation-time) + var(--progress-bar-animation-time)) forwards;
}

.submit-btn::before {
    content: "";
    display: none;
    position: absolute;
    background-color: #2B2D2F;
    inset: 0;
    border-radius: 50px;
    animation: compact var(--compact-animation-time) cubic-bezier(0.26, 0.6, 0.46, 1.7);
    animation-fill-mode: forwards;
}

.submit-btn::after {
    content: "";
    display: none;
    position: absolute;
    background-color: #4B4D4F;
    /*  51% makes that line in the middle of the bar disappear  */
    left: 51%;
    right: 51%;
    top: 45%;
    bottom: 45%;
    border-radius: .25em;
    /* creates a delay*/
    animation: progress var(--progress-bar-animation-time) var(--compact-animation-time);
    /* -so the keyframes at 100% stay on the animation- */
    animation-fill-mode: forwards;
}

.submit-btn.hide::before,
.submit-btn.hide::after {
    display: block;
}

.submit-btn.hide+.checkmark__container {
    border-radius: .25em;
    width: 0;
    height: 0;
    animation: circle var(--circle-animation-time) calc(var(--compact-animation-time) + var(--progress-bar-animation-time)) forwards cubic-bezier(0.26, 0.6, 0.46, 1.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.checkmark__container {
    max-width: 45px;
    max-height: 45px;
}


/*SVG for the checkmark*/


/* animate stroke of checkmark*/

.submit-btn.hide+.checkmark__container .checkmark__svg {
    stroke: white;
    width: 20px;
    stroke-dashoffset: 40.84104919433594;
    stroke-dasharray: 40.84104919433594;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    animation: checkmark var(--checkmark-animation-time) calc(var(--compact-animation-time) + var(--progress-bar-animation-time) + var(--circle-animation-time)) forwards;
}

@keyframes compact {
    100% {
        left: -25%;
        right: -25%;
        top: 45%;
        bottom: 45%;
        border-radius: .25em;
    }
}

@keyframes progress {
    100% {
        left: -25%;
        right: -25%;
    }
}

@keyframes vanish {
    100% {
        width: 0;
        height: 0;
    }
}

@keyframes circle {
    0% {
        width: calc(var(--btn-width) * 1.50);
        height: calc(var(--btn-height) * .1);
    }
    100% {
        background-color: var(--foam-green);
        width: 45px;
        height: 45px;
        border-radius: 100%;
    }
}

@keyframes checkmark {
    100% {
        stroke-dashoffset: 0;
    }
}


/*ACCESSIBILITY*/

@media(prefers-reduced-motion) {
    .reduce-motion {
        transform: none;
    }
}