:root {
    /*Color Palette*/
    --primary-light: #fefae0;
    --primary-dark: #283618;
    --green-accent: #606c38;
    --beige-accent: #dda15e;
    --rust-accent: #bc6c25;
    /* Fonts */
    --ff-headers: 'Satoshi', Arial, sans-serif;
    --ff-secondary: 'Inter', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;    
    font-size: 100%;
    background-color: var(--primary-light);
}

h1, h2, h3 {
    font-family: var(--ff-headers);
    font-weight: 400;
    color: var(--primary-dark);
}

h1, h2 {
    text-align: center;
}

p {
    font-family: var(--ff-secondary);
    font-size: 1rem;
}

a {
    text-decoration: none;
    font-family: var(--ff-headers);
}

li {
    list-style-type: none;
}

/*HERO AND PRIMARY NAV*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title-container, .hero-nav-container {
    margin-top: 1.5rem;
}

/* Primary Navigation */
.primary-nav-container {
    display: flex;
    flex-direction: column;      
    justify-content: center;
    align-items: center;
}

.header-name {
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.3rem;
    color: var(--green-accent);
    padding: 8px;
    margin: 1rem 0 1rem 0;    
}

.primary-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    --_gap: 2rem;/* <-- locally scoped variable*/
}

.primary-nav-item {
    position: relative;
    padding-inline: calc(var(--_gap) / 2);
    overflow: hidden;
}

.primary-nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; 
    width: 100%;
    scale: 0 1;
    transition: scale 300ms var(--_scale-delay, 0ms), translate 500ms var(--_translate-delay, 0ms);
  }

  .primary-nav-item:hover::after {  
    scale: 1 1;
    background: var(--green-accent);
  }

  @supports selector(:has(h1)) {
    .primary-nav-item:hover + .primary-nav-item::after {
    translate: -100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }
  .primary-nav-item:has(+.primary-nav-item:hover)::after {
    translate: 100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
  }
}

  .hero-nav-text {
    color: inherit;
}

  .hero-nav-text:hover {
    font-weight: bold;
    color: var(--rust-accent);
  }

/* ^^ End Primary Navigation */

.title {
    font-size: 5rem;    
}

.sub-title {
    font-size: 1.8rem;
    
}

.title, .sub-title, .contact-title {
    letter-spacing: 0.5rem;
}

.sub-title-container, .footer-social-container, .contact-email, .footer-copy {
    margin-bottom: 1rem;
}

.sub-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    scale: 1.5;
}

/*FOOTER*/

.contact-title {
    font-size: 1.5rem;    
}

.footer-container {
    background-color: var(--green-accent);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-social-container {
    display: flex;
    justify-content: center;
    align-items: center;       
}

.footer-text {
    color: var(--primary-light);
    font-family: var(--ff-headers);
}

.footer-icon {
    margin: 0 .8rem 0 .8rem;  
}

.book-me:hover {
    scale: 1.2;
}

.font-smaller {
    font-size: 0.6rem;
}